body {
            font-family: Arial, sans-serif;
            background-color: #025373;
        }

        h1 {
            text-align: center;
            color: #ffffff;
        }
        .corner-image {
            position: absolute;
            top: 10;
            left: 100;
          
          }
        .question {
            background-color: #fff;
            padding: 35px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #4494A6;
        }